.country-detail-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-detail-container {
  max-width: 85%;
  width: 100%;
}

.country-info-wrapper {
  border: 1px solid red;
  display: flex;
  align-items: center;
}
