/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

//Blue
$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlueDM: hsl(207, 26%, 17%);
$veryDarkBlueLM: hsl(200, 15%, 8%);

//Gray
$darkGray: hsl(0, 0%, 52%);
$veryLightGray: hsl(0, 0%, 98%);

//White
$white: hsl(0, 0%, 100%);
