//Blue
$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlueDM: hsl(207, 26%, 17%);
$veryDarkBlueLM: hsl(200, 15%, 8%);

//Gray
$darkGray: hsl(0, 0%, 52%);
$veryLightGray: hsl(0, 0%, 98%);

//White
$white: hsl(0, 0%, 100%);