@import "./sass/colors";

.leaflet-container {
  width: 80vw;
  height: 70vh;
}


.light {
  background-color: $veryLightGray;
  color: $veryDarkBlueLM;
}

.dark {
  background-color: $veryDarkBlueDM;
  color: $white;

  input,
  select,
  .homepage-card-item,
  .back-button>button,
  button,
  .modal-close-button,
  .go-to-top-wrapper {
    background-color: $darkBlue;
    color: $white;
  }

  input,
  button {
    background-color: transparent;
  }

  .go-to-top-wrapper {
    border: $white 1px solid;
    border-radius: 7px;
  }
}